<div class="container-fluid create-event">
  <app-header></app-header>
  <div class="row event-form">
    <div class="col-12">
      <h1 class="title">{{id?"Edit" :"Create"}} Event
        <button type="button" *ngIf="id" class="btn btn-danger float-right">Delete Event</button> </h1>
      <span class="help-text">(Fields marked as * are mandatory)</span>

      <form [formGroup]="eventForm">
        <div class="form-group mt-5" *ngIf="step1">
          <label class="input-label" for="">Event Name*</label>
          <input type="text" class="form-control" formControlName="name" placeholder="Name Of Event">
          <div class="text-danger" *ngIf="f.name.errors&&showStep1Errors">
            <p>Name is required</p>
          </div>
        </div>
        <div class="form-group" *ngIf="step1">
          <label for="" class="input-label">Description*</label>
          <textarea class="form-control" formControlName="description" placeholder="Description"></textarea>
          <div class="text-danger" *ngIf="f.description.errors&&showStep1Errors">
            <p>Description is required</p>
          </div>
        </div>
        <div class="row mt-5" *ngIf="step2">
          <div class="col-6">
            <div class="form-group">
              <label for="" class="input-label">Duration</label>
              <input type="text" class="form-control" formControlName="duration" placeholder="Duration of Event">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="" class="input-label">Date*</label>
              <input type="date" class="form-control" formControlName="date">
              <div class="text-danger" *ngIf="f.date.errors&&showStep2Errors">
                <p>Date is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="step2">
          <label for="" class="input-label">Address*</label>
          <textarea class="form-control" formControlName="location" placeholder="Address"></textarea>
          <div class="text-danger" *ngIf="f.location.errors&&showStep2Errors">
            <p>Address is required</p>
          </div>
        </div>
        <div class="row mt-5" *ngIf="step3">
          <div class="col-6">
            <div class="form-group">
              <label for="" class="input-label">Fees</label>
              <input type="text" class="form-control" formControlName="fees" placeholder="Fees">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group ">
              <label for="" class="input-label">Maximum Number of Participants</label>
              <input type="number" class="form-control" formControlName="maxParticipants"
                placeholder="Maximum number of Participants">
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="step3">
          <label for="" class="input-label">Tags</label>
          <input type="text" class="form-control" formControlName="tags" placeholder="Tags">
        </div>
        <button type="button" class="btn" *ngIf="!step1" (click)="prevStep()">Back</button>
        <button type="button" *ngIf="step1" class="btn btn-primary float-right"
          (click)="next('step2','step1')">Next</button>
        <button type="button" *ngIf="step2" class="btn btn-primary float-right"
          (click)="next('step3','step2')">Next</button>
        <button type="submit" *ngIf="step3&&!id" class="btn btn-primary float-right" (click)="createEvent()">Create
          Event</button>
        <button type="submit" *ngIf="step3&&id" class="btn btn-primary float-right" (click)="updateEvent()">Update
          Event</button>
      </form>
    </div>
  </div>
</div>